.nav {
  background-color: #f7faf9;
  width: 220px;
  min-width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .nav {
    transform: translateX(-100%);
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 16px;
  max-width: 180px;
  margin: 0 auto;
}

.navbar__logo img {
  color: transparent;
  width: 100%;
  height: 45px;
}

.navbar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
  padding-bottom: 20px;
  overflow-y: auto;
}

.navbar__top {
  flex: 1 1;
  margin-top: 40px;
}

.navbar__link--wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
  cursor: pointer;
}

.navbar__link--wrapper:hover {
  background-color: #f0efef;
}

.navbar__link--line {
  width: 5px;
  height: 100%;
  background-color: transparent;
  margin-right: 16px;
}

.active--tab {
  background-color: #2bd97c;
}

.navbar__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 24px;
}

.navbar__link--text {
  color: black;
  font-size: 18px;
}

.navbar__bottom {
  display: flex;
  flex-direction: column;
}

.navbar__link--not-allowed {
  cursor: not-allowed;
}

.sidebar--opened {
  transform: translateX(0);
  width: 80%;
}

.app__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 220px);
  margin-left: 220px;
  transition: all 0.3s;
  flex: 1;
}

@media (max-width: 768px) {
  .app__content {
    margin-left: 0;
    width: 100%;
  }
}
