.search__background {
  background-color: #fff;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  max-width: 1070px;
  margin: 0 auto;
  height: 100%;
}

.search__content {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 340px;
  width: 100%;
  margin-left: auto;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar__toggle--btn {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 768px) {
  .sidebar__toggle--btn {
    display: flex;
  }
}

.search__input--wrapper {
  position: relative;
  width: 100%;
}

.search__input {
  height: 40px;
  width: 100%;
  padding: 0 48px 0 16px;
  outline: none;
  background-color: #f1f6f4;
  color: #042330;
  border: 2px solid #e1e7ea;
  border-radius: 8px;
}

.search__icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  right: 8px;
  justify-content: flex-end;
  border-left: 2px solid #e1e7ea;
  padding-left: 8px;
}

.search__icon svg {
  width: 24px;
  height: 24px;
  color: #03314b;
}

/* BURGER MENU */

.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a4649;
  transition: opacity 0.4s ease 0s;
  z-index: 10;
  opacity: 0.65;
  pointer-events: auto;
}

